#contact {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

/* _CONTACT INFORMATION_ */

#contact_information {
  width: 60vw;
  align-self: flex-start;
}

#contact span {
  color: var(--FONTCOLOR);
  font-family: var(--DESCRIPTION_FONT);
  opacity: 0.7;
}

.contacts article {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contacts article:first-child {
  margin-top: 2rem;
}

.contacts article .label {
  display: flex;
  gap: 1rem;
  align-items: center;
  opacity: 1 !important;
  font-family: var(--PRIMARY_FONT) !important;
  font-weight: 300;
}

.contacts article .info {
  color: var(--FONTCOLOR);
  font-family: var(--DESCRIPTION_FONT);
  margin: 0 3rem;
  padding-left: 1rem;
  width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

/* _CONTACT_FORM_ */

.contact-form {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-form h2 {
  color: var(--FONTCOLOR);
  font-family: var(--PRIMARY_FONT);
  font-weight: 200;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.contact-form form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.contact-form form label input,
.contact-form form label textarea {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 300px;
  color: var(--FONTCOLOR);
  font-family: var(--DESCRIPTION_FONT);
}

.contact-form form label input {
  height: 40px;
  width: 300px;
  padding-left: 0.5rem;
  font-family: var(--DESCRIPTION_FONT);
}

.contact-form form label textarea {
  padding: 1rem 0.5rem;
  font-family: var(--DESCRIPTION_FONT);
}

::placeholder {
  color: var(--FONTCOLOR);
}

.contact-form form button {
  width: 120px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 785px) {
  .contacts article .info {
    width: 260px;
  }

  /* _CONTACT_FORM_ */

  .contact-form h2 {
    font-size: 1.5rem;
  }

  .contact-form form label input,
  .contact-form form label textarea {
    width: 270px;
  }

  .contact-form form label input {
    width: 270px;
  }
}

@media screen and (max-width: 730px) {
  #contact {
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 660px) {
  #contact_information {
    width: 100%;
  }
}

@media screen and (max-width: 365px) {
  .contacts article .info {
    width: 240px;
  }

  /* _CONTACT_FORM_ */

  .contact-form {
    padding: 1rem;
    align-self: center;
  }

  .contact-form h2 {
    font-size: 1.2rem;
  }

  .contact-form form label input,
  .contact-form form label textarea {
    width: 250px;
  }

  .contact-form form label input {
    width: 250px;
  }
}
