#contact {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  background: #464646;
}

/* _CONTACT_FORM_ */

.contact-form {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  padding-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-form h2 {
  color: var(--FONTCOLOR);
  font-family: var(--PRIMARY_FONT);
  font-weight: 200;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

.contact-form form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.contact-form form section {
  display: flex;
  gap: 2rem;
}

.contact-form form label input,
.contact-form form label textarea {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 300px;
  color: var(--FONTCOLOR);
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  transition: all 0.3s ease;
  outline: 1px solid transparent;
  padding-left: 1rem;
}

.contact-form form label input:focus,
.contact-form form label textarea:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
}

.contact-form form label input {
  height: 40px;
  width: 300px;
}

.contact-form form label textarea {
  padding: 1rem;
  font-family: var(--DESCRIPTION_FONT);
  width: 100%;
}

::placeholder {
  color: var(--FONTCOLOR);
}

.contact-form form button {
  width: 120px;
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  font-weight: 800;
  font-family: var(--PRIMARY_FONT);
  text-transform: uppercase;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 785px) {
  .contacts article .info {
    width: 260px;
  }

  /* _CONTACT_FORM_ */

  .contact-form h2 {
    font-size: 1.5rem;
  }

  .contact-form form label input,
  .contact-form form label textarea {
    width: 270px;
  }

  .contact-form form label input {
    width: 270px;
  }
}

@media screen and (max-width: 730px) {
  #contact {
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 660px) {
  #contact_information {
    width: 100%;
  }
}

@media screen and (max-width: 365px) {
  .contacts article .info {
    width: 240px;
  }

  /* _CONTACT_FORM_ */

  .contact-form {
    padding: 1rem;
    align-self: center;
  }

  .contact-form h2 {
    font-size: 1.2rem;
  }

  .contact-form form label input,
  .contact-form form label textarea {
    width: 250px;
  }

  .contact-form form label input {
    width: 250px;
  }
}
