/* _INTRODUCTION_ */

#introduction {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.name {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.name ul {
  font-size: 3rem;
  color: var(--FONTCOLOR);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  flex-direction: column;
}

.name ul li {
  font-family: var(--PRIMARY_FONT);
  font-weight: 300;
}

.name ul li:last-child {
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  text-transform: uppercase;
}

.name p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 100;
  color: var(--FONTCOLOR);
  width: 400px;
  line-height: 1.7;
  text-align: center;
}

/* _SERVICES_ */

#services {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 1rem;
}

.main p {
  font-family: var(--DESCRIPTION_FONT);
  color: var(--FONTCOLOR);
  font-weight: 200;
  opacity: 0.8;
  line-height: 1.7;
  text-align: justify;
}

.main span {
  font-family: var(--PRIMARY_FONT);
  font-weight: 100;
}

.services {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.card {
  width: 290px;
  height: 300px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  color: var(--FONTCOLOR);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}

.card h3 {
  display: grid;
  gap: 0.5rem;
  place-items: center;
  font-family: var(--PRIMARY_FONT);
  font-weight: 400;
  font-size: 1.4rem;
}

.card h3 .styler {
  display: block;
  width: 30px;
  height: 1px;
  background: var(--FONTCOLOR);
}

.card p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  line-height: 1.9;
  text-align: center;
  height: 150px;
}

.card button {
  width: 140px;
  height: 50px;
  position: relative;
}

.card button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--FONTCOLOR);
  height: 0.2px;
  transition: all 0.3s ease;
}

.card button:hover::before {
  transform: scaleX(0.8);
}

/* _FREQUENTLY ASKED QUESTIONS_ */

#faq {
  min-height: 100vh;
  padding: 1rem;
}

#faq article {
  margin: 1rem 0;
  padding: 0 1rem;
  height: 100px;
  overflow: hidden;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}

#faq article.answer {
  height: unset;
}

#faq article p .faq_caret {
  cursor: pointer;
}

#faq article.answer p .faq_caret {
  transform: rotate(180deg);
}

#faq article p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--PRIMARY_FONT);
  color: var(--FONTCOLOR);
  font-size: 1.3rem;
  font-weight: 300;
  height: 100px;
}

#answer {
  font-family: var(--DESCRIPTION_FONT);
  color: var(--FONTCOLOR);
  padding: 1rem;
  line-height: 1.9;
  font-weight: 200;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 630px) {
  #faq article p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 515px) {
  #answer {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 405px) {
  #faq {
    padding: 0.7rem;
  }

  #faq article p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 350px) {
  #faq article p {
    height: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #faq article {
    height: 80px;
  }
}
