/* _INTRODUCTION_ */

#introduction {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.name {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
}

.name ul {
  font-size: 3rem;
  color: var(--FONTCOLOR);
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.name ul li {
  font-family: var(--PRIMARY_FONT);
  font-weight: 300;
  z-index: 1;
}

.name ul li:last-child {
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  text-transform: uppercase;
}

.name p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 100;
  color: var(--FONTCOLOR);
  width: 400px;
  line-height: 1.7;
  text-align: center;
}

.intro-btns {
  display: flex;
  gap: 2rem;
  scroll-snap-align: start;
  z-index: 1;
}

.intro-btns .main_btn {
  background: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  border: 1px solid white;
  transition: all 0.3s;
  box-shadow: -5px 5px 0 white;
}

.intro-btns .main_btn:hover {
  box-shadow: -8px 8px 0 white;
  transform: translateY(2px);
}

.portfolio-btn {
  background: var(--FONTCOLOR);
  font-family: var(--PRIMARY_FONT);
  font-size: 1.1rem;
  color: var(--BGCOLOR);
}

.portfolio-btn:hover {
  background: transparent;
  color: var(--FONTCOLOR);
}

.bg-circles-1,
.bg-circles-2,
.bg-circles-3 {
  position: absolute;
}

.bg-circles-1 {
  bottom: 20px;
  left: 20px;
  height: 250px;
  width: 250px;
}

.bg-circles-2 {
  top: 80px;
  left: 30px;
  width: 100px;
  width: 100px;
}

.bg-circles-3 {
  width: 150px;
  height: 150px;
  top: 30%;
  right: 20px;
}

/* INTRO RESPONSIVE DESIGN */

@media screen and (max-width: 850px) {
  .name {
    gap: 1.5rem;
    height: 350px;
  }

  .name ul {
    font-size: 2.8rem;
    gap: 0.5rem;
  }

  .name ul li:last-child {
    font-size: 1.1rem;
  }

  .bg-circles-1 {
    height: 180px;
    width: 180px;
  }

  .bg-circles-3 {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 605px) {
  .name ul {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 520px) {
  .name ul li:first-child {
    width: 340px;
    text-align: center;
    font-size: 2.7rem;
  }

  .intro-btns button {
    width: 130px;
    font-size: 0.95rem;
  }

  .bg-circles-3 {
    display: none;
  }

  .bg-circles-1 {
    width: 140px;
    height: 140px;
  }
}

@media screen and (max-width: 415px) {
  .name {
    width: 350px;
  }

  .name p {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .name ul li:first-child {
    width: 320px;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 350px) {
  .name {
    width: 320px;
  }
}

/* _ABOUT_ */

#about {
  position: relative;
  border-bottom: 2px double rgba(255, 255, 255, 0.2);
}

.about-bg-1,
.about-bg-2 {
  position: absolute;
  opacity: 0.1;
}

.about-bg-1 {
  top: 20px;
  right: 20px;
  width: 200px;
  height: 200px;
}

.about-bg-2 {
  bottom: 20px;
  left: 20px;
  height: 80px;
  width: 80px;
}

.about-bg-3 {
  bottom: 30px;
  right: 100px;
  height: 150px;
  width: 150px;
}

#about article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  padding: 3rem 0;
  color: white;
  width: 100%;
}

#about article ul {
  list-style: disc;
  line-height: 1.9;
  list-style-position: outside;
}

#about article ul li {
  display: list-item;
  font-size: 3rem;
  font-family: var(--PRIMARY_FONT);
}

#about article.show ul li {
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#about article ul li span {
  color: var(--BGCOLOR);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
  font-family: var(--DESCRIPTION_FONT);
}

#about article p {
  font-family: var(--PRIMARY_FONT);
  display: flex;
  align-items: center;
}

#about article.show p {
  animation: fade-in-p 1s ease;
}

@keyframes fade-in-p {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#about article p span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 0.5rem;
  background: var(--FONTCOLOR);
}

@media screen and (max-width: 575px) {
  .about-bg-1 {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 520px) {
  #about article {
    gap: 3.5rem;
    padding: 2rem 0;
  }

  #about article ul {
    line-height: 1.7;
  }

  #about article ul li {
    font-size: 2.5rem;
  }

  #about article p {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  #about article {
    gap: 1rem;
  }

  #about article ul li {
    font-size: 2.2rem;
  }

  #about article p {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  #about article ul li {
    font-size: 1.8rem;
  }
}

/* _SERVICES_ */

/* HOW WE WORK - SERVICES, FURTHER DESCRIPTION */

.services-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
}

.services-popup.active {
  z-index: 10000;
  opacity: 1;
}

#work-process {
  background: var(--BGCOLOR);
  width: 60vw;
  height: 350px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 1.5rem;
  color: var(--FONTCOLOR);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  overflow: auto;
}

.process-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process-head h3 {
  font-family: var(--PRIMARY_FONT);
  font-weight: 300;
  font-size: 2rem;
}

.process-head .close-btn {
  position: unset;
}

.process-content {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.process-content p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.process-content ol {
  line-height: 1.9;
}

.process-content ol li {
  font-family: var(--DESCRIPTION_FONT);
  list-style-position: inside;
  font-weight: 300;
}

#services {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  min-height: 100vh;
  padding: 1rem;
  position: relative;
}

.service-bg-image-1,
.service-bg-image-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.2;
}

.service-bg-image-1 {
  left: 30px;
  top: 30px;
}

.service-bg-image-2 {
  right: 30px;
  top: 30px;
}

.show .main h1 {
  animation: fade-in-h1 1s ease;
}

@keyframes fade-in-h1 {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main q {
  font-family: var(--DESCRIPTION_FONT);
  color: var(--FONTCOLOR);
  font-weight: 200;
  opacity: 0.8;
  line-height: 1.7;
  text-align: center;
}

.show .main q {
  animation: fade-in-q 0.5s ease;
}

@keyframes fade-in-q {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

.main span {
  font-family: var(--PRIMARY_FONT);
  font-weight: 100;
}

.services {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 320px;
  height: 340px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  color: var(--FONTCOLOR);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}

.show .card:first-child {
  animation: fade-in-card1 1s ease;
}

@keyframes fade-in-card1 {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.show .card.re-design {
  animation: fade-in-card2 1.5s ease;
}

@keyframes fade-in-card2 {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card h2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card h2 svg {
  height: 25px;
  width: 25px;
  fill: var(--FONTCOLOR);
}

.re-design h2 {
  gap: 0;
  align-items: flex-end;
}

.re-design h2 span {
  width: 40px;
  height: 2px;
  background: var(--FONTCOLOR);
  position: absolute;
  transform: translateX(7px);
}

.card h3 {
  display: grid;
  gap: 0.5rem;
  place-items: center;
  font-family: var(--PRIMARY_FONT);
  font-weight: 400;
  font-size: 1.4rem;
}

.card h3 .styler {
  display: block;
  width: 30px;
  height: 1px;
  background: var(--FONTCOLOR);
}

.card p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  line-height: 1.9;
  text-align: center;
  height: 130px;
}

.card button {
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  height: 40px;
  width: 130px;
  font-size: 0.9rem;
  border-radius: 2px;
  transition: all 0.3s ease;
  border: 2px solid var(--FONTCOLOR);
}

.card button:hover {
  background: transparent;
  color: var(--FONTCOLOR);
}

.service-list ul {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 340px;
  list-style: decimal-leading-zero;
  list-style-position: inside;
  padding-left: 3rem;
}

.service-list ul li {
  font-size: 1.5rem;
  display: list-item;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--FONTCOLOR);
  padding-bottom: 1rem;
  font-weight: 200;
  font-family: var(--DESCRIPTION_FONT);
}

.show .service-list ul li {
  animation: fade-in-li 1s ease;
}

.show .service-list ul li:nth-child(2).show {
  animation-delay: 0.2s;
}

.show .service-list ul li:nth-child(3).show {
  animation-delay: 0.4s;
}

.show .service-list ul li:nth-child(4).show {
  animation-delay: 0.6s;
}

.show .service-list ul li:nth-child(5).show {
  animation-delay: 0.8s;
}

.show .service-list ul li:nth-child(6).show {
  animation-delay: 1s;
}

@keyframes fade-in-li {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* SERVICES RESPONSIVE DESIGN */

@media screen and (max-width: 990px) {
  #services {
    gap: 2.2rem;
  }

  .main q {
    width: 100%;
  }

  .services {
    gap: 0.5rem;
  }

  .card {
    width: 280px;
    height: 340px;
    gap: 1rem;
    padding: 1rem;
  }

  .card h3 {
    font-size: 1.4rem;
  }

  .card p {
    line-height: 1.9;
    height: 130px;
  }
}

@media screen and (max-width: 950px) {
  .services {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 100%;
    height: 300px;
  }

  .card p {
    height: 100px;
  }

  .services ul {
    padding-left: 0;
  }

  .service-list ul {
    width: 100%;
  }

  .service-list ul li {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .main h1 {
    font-size: 2.3rem;
  }

  .card {
    height: 320px;
  }

  .card p {
    height: 120px;
  }
}

@media screen and (max-width: 595px) {
  .services {
    display: flex;
    flex-direction: column;
  }

  .card {
    height: 290px;
  }

  .card p {
    height: 90px;
  }
}

@media screen and (max-width: 415px) {
  .service-list ul li {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 370px) {
  .card {
    height: 320px;
  }

  .card p {
    height: 120px;
  }

  .service-list ul li {
    font-size: 1.2rem;
  }
}

/* CALL TO ACTION */

figure.main-cta {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-evenly;
}

figure.main-cta img {
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.6);
  filter: brightness(80%);
}

figure.main-cta figcaption {
  color: var(--FONTCOLOR);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

figure.main-cta figcaption h3 {
  font-family: var(--PRIMARY_FONT);
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
}

figure.main-cta figcaption p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  line-height: 1.9;
  margin-bottom: 1rem;
}

.interest-cta {
  position: relative;
  margin-top: 1rem;
  padding: 0 !important;
}

.interest-cta h3 {
  font-family: var(--PRIMARY_FONT);
  font-weight: 500;
  font-size: 1rem !important;
  margin-bottom: 1rem !important;
  color: var(--FONTCOLOR);
  line-height: 1.6;
}

.interest-cta button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  transition: all 0.3s ease;
}

.interest-cta button:hover {
  background: transparent;
  border: 1px solid white;
  color: var(--FONTCOLOR);
}

@media screen and (max-width: 990px) {
  figure.main-cta img {
    width: 400px;
  }

  figure.main-cta figcaption h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  figure.main-cta figcaption p {
    line-height: 1.8;
    margin-bottom: 0.6rem;
  }
}

@media screen and (max-width: 890px) {
  figure.main-cta {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  figure.main-cta {
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  figure.main-cta img {
    width: 100%;
  }

  figure.main-cta figcaption h3 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
    line-height: 1.6;
  }

  figure.main-cta figcaption p {
    line-height: 1.8;
    margin-bottom: 0.6rem;
  }
}

@media screen and (max-width: 440px) {
  .interest-cta {
    padding: 1rem;
  }

  .interest-cta h3 {
    font-size: 1rem;
  }
}
