/* FONT FAMILY */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

input,
textarea,
button {
  outline: none;
  outline-color: none;
  border: none;
  background: transparent;
  font-family: inherit;
}

ul {
  list-style: none;
}

a:any-link {
  text-decoration: none;
  color: var(--FONTCOLOR);
}

/* VARIABLES */

:root {
  --BGCOLOR: #383636;
  --FONTCOLOR: whitesmoke;
  --DESCRIPTION_FONT: "Poppins";
  --PRIMARY_FONT: "Playfair Display";
}

/* GENERAL STYLES */

body {
  background: var(--BGCOLOR);
}

body.hidden {
  overflow: hidden;
}

/* WEBSITE THEME BUTTON STYLES */

button {
  height: 45px;
  width: 150px;
  color: var(--FONTCOLOR);
  font-family: var(--DESCRIPTION_FONT);
  font-size: 1rem;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 300;
  border: 1px solid var(--FONTCOLOR);
  border-radius: 3px;
  display: grid;
  place-content: center;
}

button:disabled {
  opacity: 0.5;
}

.main {
  display: grid;
  place-items: center;
}

.topic {
  font-family: var(--PRIMARY_FONT);
  font-size: 3rem;
  font-weight: 300;
  color: var(--FONTCOLOR);
  margin-bottom: 1rem;
  text-align: center;
}

q {
  display: block;
  width: 70vw;
  color: var(--FONTCOLOR);
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
  line-height: 1.8;
  text-align: justify;
}

/* PAGE IS LOADING */

.loading-page {
  background: var(--BGCOLOR);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s ease-in-out;
}

.loading-page.load {
  opacity: 1;
  z-index: 1000;
}

body {
  overflow: hidden;
}

.loading-page span {
  height: 120px;
  width: 120px;
  border: 4px solid var(--FONTCOLOR);
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 50%;
  animation: pageLoading 1s linear infinite;
}

@keyframes pageLoading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* BECOME A CLIENT REQUEST */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
  z-index: -1;
  opacity: 0;

  transition: all 0.3s ease;
}

.popup-container.active {
  z-index: 1000;
  opacity: 1;
}

.loading {
  height: 100px;
  width: 100px;
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  display: none;
}

.loading.load {
  display: block;
  animation: loading 0.8s linear infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.request {
  background: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  width: 600px;
  height: 520px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 1.5rem;
  position: relative;
  overflow-y: auto;
}

.request-success {
  background: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: none;
}

.request-success.success {
  display: flex;
}

.request-success article h3 {
  font-family: var(--PRIMARY_FONT);
  font-size: 2.5rem;
  margin: 0.5rem 0;
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.request-success section {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.request-success section p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 300;
}

.request-success section p span {
  font-family: var(--PRIMARY_FONT);
  color: rgba(255, 255, 255, 0.6);
}

.request-success article p {
  font-family: var(--DESCRIPTION_FONT);
}

.request-success p.notice {
  font-family: var(--PRIMARY_FONT);
  color: rgba(255, 255, 255, 0.8);
}

.request-success button {
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.request-success button:hover {
  filter: brightness(80%);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.6);
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.request article h3 {
  font-family: var(--PRIMARY_FONT);
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.request article p {
  font-family: var(--DESCRIPTION_FONT);
  font-weight: 200;
}

.request form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.request .basic-info {
  display: flex;
  justify-content: space-between;
}

.request .input-label {
  font-family: var(--PRIMARY_FONT);
  font-weight: 100;
  margin: 0.4rem;
  font-size: 0.9rem;
}

.request input,
.request textarea {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding-left: 1rem;
  font-family: var(--PRIMARY_FONT);
  font-size: 1.1rem;
  color: var(--FONTCOLOR);
}

.request input::placeholder,
.request textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.request input {
  width: 270px;
  height: 50px;
}

.type-list {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.type-list li {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  height: 50px;
  display: grid;
  place-content: center;
  font-family: var(--DESCRIPTION_FONT);
  font-size: 0.95rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease;
}

.type-list li:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--FONTCOLOR);
}

.type-list li.chosen {
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
}

.request button {
  width: 100%;
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  transition: all 0.3s ease;
}

@media screen and (max-width: 990px) {
  .request {
    height: 480px;
  }
}

@media screen and (max-width: 660px) {
  .request {
    gap: 1rem;
    width: 500px;
    height: 480px;
    padding: 1rem;
  }

  .request article h3 {
    font-size: 2rem;
  }

  .request article p {
    font-family: var(--DESCRIPTION_FONT);
    font-weight: 200;
  }

  .request form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  .request .basic-info {
    gap: 0.5rem;
    flex-direction: column;
  }

  .type-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .type-list li {
    font-size: 0.9rem;
    text-align: center;
  }
}

@media screen and (max-width: 525px) {
  .request {
    width: 400px;
  }

  .request .close-btn {
    width: 30px;
    height: 30px;
  }

  .request .close-btn svg {
    width: 15px;
    height: 15px;
  }

  .request article p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 425px) {
  .request {
    width: 350px;
  }

  .type-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 370px) {
  .request {
    width: 300px;
  }

  .request article h3 {
    font-size: 1.8rem;
  }

  .request input,
  .request textarea {
    padding-left: 0.8rem;
    font-size: 0.95rem;
    width: 100%;
  }
}

/* SUCCESSFUL POPUP RESPONSIVE DESIGN */

@media screen and (max-width: 700px) {
  .request-success {
    width: 500px;
  }

  .request-success article h3 {
    font-size: 2rem;
  }

  .request-success article h3 svg {
    height: 30px;
    width: 30px;
  }
}

@media screen and (max-width: 530px) {
  .request-success {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .request-success {
    width: 350px;
  }

  .request-success article h3 {
    font-size: 1.8rem;
  }

  .request-success article svg {
    width: 20px;
    height: 20px;
  }

  .request-success article p {
    font-size: 0.9rem;
  }

  .request-success section p {
    font-size: 0.9rem;
  }

  .request-success p.notice {
    font-size: 0.9rem;
  }

  .request-success button {
    background: var(--FONTCOLOR);
    color: var(--BGCOLOR);
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }

  .request-success button:hover {
    filter: brightness(80%);
  }
}

@media screen and (max-width: 365px) {
  .request-success {
    width: 310px;
  }

  .request-success article h3 {
    font-size: 1.4rem;
  }

  .request-success article svg {
    width: 20px;
    height: 20px;
  }

  .request-success section p {
    display: flex;
    flex-direction: column;
  }
}

/* HEADER */

header {
  width: 100%;
  background: var(--BGCOLOR);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  color: var(--FONTCOLOR);
  position: fixed;
  z-index: 100;
  height: 80px;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header.scroll {
  height: 70px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header h1 a:any-link {
  font-family: var(--PRIMARY_FONT);
  font-weight: 100;
  font-size: 2.2rem;
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav_elements {
  display: flex;
  gap: 3rem;
}

.nav_elements li {
  position: relative;
  font-size: 1.15rem;
  transition: all 0.3s ease;
}

.nav_elements li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 25px;
  background: var(--FONTCOLOR);
}

.nav_elements li:hover {
  opacity: 0.7;
}

.nav_elements li a:any-link {
  font-family: var(--PRIMARY_FONT);
}

header nav button {
  width: 170px;
  height: 45px;
  font-size: 0.9rem;
  border-radius: 30px;
  border: 2px solid black;
  background: var(--FONTCOLOR);
  color: var(--BGCOLOR);
  font-weight: 400;
  transition: all 0.5s ease;
}

header nav button:hover {
  border: 2px solid white;
  background: transparent;
  color: var(--FONTCOLOR);
}

/* HEADER RESPONSIVE DESIGN */

.nav-mobile {
  display: none;
}

.drop-icon {
  display: none;
}

@media screen and (max-width: 890px) {
  .nav_elements {
    display: none;
  }

  .drop-icon {
    display: grid;
    place-content: center;
    height: 40px;
    width: 40px;
  }

  .drop-icon span {
    width: 30px;
    height: 2px;
    background: var(--FONTCOLOR);
    position: relative;
    transition: all 0.3s ease;
  }

  .drop-icon.active {
    animation: spin 0.7s ease;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .drop-icon.active span {
    background: transparent;
  }

  .drop-icon span::before,
  .drop-icon span::after {
    content: "";
    position: absolute;
    left: 0;
    height: inherit;
    width: inherit;
    background: var(--FONTCOLOR);
    transition: all 0.3s ease;
  }

  .drop-icon span::before {
    top: -10px;
  }

  .drop-icon span::after {
    bottom: -10px;
  }

  .drop-icon.active span::before {
    top: 0;
    transform: rotate(-45deg);
  }

  .drop-icon.active span::after {
    bottom: 0;
    transform: rotate(45deg);
  }

  header nav {
    z-index: 1000;
  }

  .nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease;
    background: var(--BGCOLOR);
  }

  .nav-mobile.active {
    z-index: inherit;
    opacity: 1;
    z-index: 10;
  }

  .nav-mobile li {
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    position: relative;
  }

  .nav-mobile li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  .nav-mobile li a:any-link {
    font-family: var(--PRIMARY_FONT);
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0 1rem;
  }

  header nav {
    gap: 0.2rem;
  }
}

@media screen and (max-width: 400px) {
  header nav button {
    width: 150px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 345px) {
  header {
    height: 120px;
    align-items: flex-start;
    padding: 0.8rem;
  }

  header nav {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

/* FOOTER CONTENT */

footer {
  padding: 1rem;
  max-width: 100vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  color: var(--FONTCOLOR);
  background: #464646;
}

.footer_content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.quote {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 1rem;
  font-weight: 100;
}

.quote li:first-child {
  font-size: 2rem;
  font-family: var(--PRIMARY_FONT);
}

.quote li:last-child {
  font-family: var(--DESCRIPTION_FONT);
}

.main_footer_content {
  display: flex;
  justify-content: space-evenly;
}

.main_footer_content p {
  font-family: var(--DESCRIPTION_FONT);
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.footer_links {
  display: flex;
  gap: 1.5rem;
}

.footer_links li a:any-link {
  font-family: var(--PRIMARY_FONT);
  font-weight: 200;
}

.footer_end {
  display: grid;
  place-content: center;
}

.footer_end p {
  font-family: var(--DESCRIPTION_FONT);
}

/* FOOTER RESPONSIVE DESIGN */

@media screen and (max-width: 810px) {
  .main_footer_content {
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 645px) {
  .footer_content {
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
  }

  .main_footer_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .footer_links {
    gap: 0;
    width: 100%;
    justify-content: space-evenly;
  }

  .footer_links li a:any-link {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 595px) {
  .footer_content {
    display: flex;
    flex-direction: column;
  }

  .quote {
    align-self: center;
  }
}

@media screen and (max-width: 395px) {
  .quote li:first-child {
    font-size: 1.7rem;
  }

  .quote li:last-child {
    font-size: 0.9rem;
  }

  .footer_links {
    gap: 1.5rem;
    justify-content: center;
  }

  .main_footer_content p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 330px) {
  .footer_links {
    gap: 1.2rem;
  }
}
