#work-examples {
  min-height: 100vh;
  gap: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: url(../images/rfa-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  transition: all 0.3s ease;
}

#work-examples h1 {
  color: var(--BGCOLOR);
  align-self: center;
  z-index: 1;
  font-family: var(--PRIMARY_FONT);
  font-weight: 500;
  font-size: 3rem;
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.9);
}

#work-examples .blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(5px) brightness(75%);
  backdrop-filter: blur(5px) brightness(75%);
}

.example_container {
  display: grid;
  place-items: center;
  z-index: 1;
}

.example_container section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.example {
  background: #686666;
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.example img {
  width: 100%;
  border-radius: 10px;
}

.example p {
  font-family: var(--PRIMARY_FONT);
  font-weight: 300;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.example button {
  height: 40px;
  width: 130px;
  font-size: 0.8rem;
  background: var(--BGCOLOR);
  color: var(--FONTCOLOR);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: -3px 3px 0 rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.example button:hover {
  box-shadow: -5px 5px 0 rgba(255, 255, 255, 0.8);
  width: 135px;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 870px) {
  .example p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 830px) {
  .example_container section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .example {
    width: 500px;
  }
}

@media screen and (max-width: 635px) {
  #work-examples h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 545px) {
  .example_container section {
    padding: 0;
  }

  .example {
    width: 100%;
    padding: 0.4rem;
  }
}
